/*MENU LATERAL*/
.menu-lateral{width:242px; float:left}
.menu-lateral .titulo{background:#125A9C; text-align:center; padding:5px}
.menu-lateral .titulo h3{text-transform:uppercase; font-size:30px !important; color:#FFF !important; margin-bottom:0 !important; font-weight:normal !important;}
.menu-lateral .lista-servicos{
	width: 242px;
}
.menu-lateral .lista-servicos li{
	background:#F2F3F5 url(../images/seta-menu-servicos.png) no-repeat 10px 50%;
	border-top: 1px solid #F4F5F7;
	border-right: 1px solid #F4F5F7;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #F4F5F7;
	padding:20px 25px;
}
.menu-lateral .hover{background-color:#E0F0F7 !important}
.menu-lateral .hover a{color:#1368B7 !important}
.menu-lateral .lista-servicos a{font-size:18px; color:#7A7777}

/*BLOCOS DE TEXTO*/
.servicos-txt{float:right; width:685px}
.servicos-txt h2{font-size:50px; color:#0C4A83; margin-bottom:20px}
.servicos-txt p, .servicos-txt ul{margin-bottom:20px}
.servicos-txt a{color:#1366B7; text-decoration:underline}
.folder-img{float:left; width:220px}
.folder-img img{margin-bottom:10px}
.folder-img img, .folder-img a{float:left}
.folder-img a{width:120px; padding-top:12px; margin-left:15px}
.servicos-txt .sub-txt{float:right; width:417px}
.servicos-txt .sub-txt p{line-height:20px}
