@charset "utf-8";
.barra-lateral {
	width: 216px;
}
.barra-lateral li p {
	font: 13px Arial, Helvetica, sans-serif;
	color: #999;
}
.padding1 {
	padding: 25px 20px;
}
.um, .quatro, .sete, .dez {
	background: #f6fbf3 url(../images/numero-1.jpg) no-repeat;
	border: 1px solid #cae6b3;
	margin-bottom: 3px;
}
.dois, .cinco, .oito, .onze {
	background: #f0faff url(../images/numero-2.jpg) no-repeat;
	border: 1px solid #b3e0ff;
	margin-bottom: 3px;
}
.tres, .seis, .nove, .doze {
	background: #fef5f8 url(../images/numero-3.jpg) no-repeat;
	border: 1px solid #f59fa5;
	margin-bottom: 3px;
}
.quatro {
	background: #f6fbf3 url(../images/numero-4.jpg) no-repeat;
}
.cinco {
	background: #f0faff url(../images/numero-5.jpg) no-repeat;
}
.seis {
	background: #fef5f8 url(../images/numero-6.jpg) no-repeat;
}
.sete {
	background: #f6fbf3 url(../images/numero-7.jpg) no-repeat;
}
.oito {
	background: #f0faff url(../images/numero-8.jpg) no-repeat;
}
.nove {
	background: #fef5f8 url(../images/numero-9.jpg) no-repeat;
}
.dez {
	background: #f6fbf3 url(../images/numero-10.jpg) no-repeat;
}

.onze {
	background: #f0faff url(../images/numero-11.jpg) no-repeat;
}
.doze {
	background: #fef5f8 url(../images/numero-12.jpg) no-repeat;
}






.bloco2 {
	width: 700px;
}
.width50 {
	width: 50%;
}
.copos-txt {
	left: 151px;
	top: 20px;
	width: 160px;
}
.bg-amarelo {
	background: #ffff99;
	padding: 7px;
}
.bg-rosa {
	background: #f59fa5;
	padding: 7px;
}

.uppercase {
	text-transform: uppercase;
}
.size2 {
	font-size: 17px;
}

.verde {
	color: #bfdcac;
}

.bg-azul {
	background: #9fc8e4;
	padding: 7px;
	width: 110px;
}
.bg-verde {
	background: #cae6b3;
	padding: 7px;
	width: 109px;
	margin-left: 25px;
}

.padding2 {
	padding: 15px 0;
}
.padding2 p {
	font: 14px Arial, Helvetica, sans-serif;
	color: #999;
}
.saiba1 {
	padding: 3px;
	background: #f59fa5;
	width: 100px;
}
.saiba2 {
	padding: 3px;
	background: #ffff99;
	width: 100px;
	margin-left: 30px;
}
.seguranca-txt {
	width: 152px;
	left: 50px;
	top: 20px;
}
.width2 {
	width: 98px;
	margin-left: 36px;
}
.width3 {
	width: 140px;
}
.azul {
	color: #9fc8e4;
}
.width4 {
	width: 285px;
	margin-top: 70px;
}
.line-height {
	line-height: 20px;
}
.mtop2 {
	margin-top: 3px;
}
.width5 {
	width: 195px;
}
.width6 {
	width: 114px;
}
.barra {
	background: url(../images/bg-rodape.jpg);
	height: 31px;
	padding-top: 13px;
}.left {
	margin-left: 10px;
}
.botao-up {
	background: url(../images/up.png);
	height: 29px;
	width: 216px;
	position: absolute;
	left: 0px;
	top: -17px;
	display: none;
	z-index: 50;
}
.botao-down {
	background: url(../images/down.png);
	height: 29px;
	width: 216px;
	position: absolute;
	left: 0px;
	display: none;
	bottom: -17px;
	z-index: 50;
}
#dicas div {
	display: none;
}
