.conteudo {
	background: #000 url(../images/bg-bottom-conteudo.jpg) no-repeat center bottom;
	height: 739px;
}
.banner-top {
	background: url(../images/bg-banner.jpg) no-repeat;
	height: 114px;
}
.img-margin {
	padding-top: 5px;
	padding-left: 20px;
}
h1 {
	font-size: 45px !important;
	padding-top: 33px;
	padding-left: 60px;
}
.divisao {
	background: url(../images/divisao.jpg);
	margin: 9px 25px;
	height: 93px;
	width: 1px;
}
.azul {
	color: #00aeef;
}
.ptop {
	padding-top: 32px;
}
.size1 {
	font-size: 23px;
}
#flash {
	height: 440px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
.features-box {
	width: 300px;
	background: url(../images/bg-box.png) repeat;
	left: 55%;
	top: 55px;
	padding: 30px 25px;
}
.features-box p {
	color: #000;
	font-style: italic;
}
.features-box img {
	margin-right: 10px;
	margin-bottom: 5px;
}
.features-box li {
	display: none;
}

.width-box-txt {
	width: 200px;
}
.mtop {
	margin-top: 10px;
}
.features-carousel {
	left: 50%;
	top: 374px;
	margin-left: -480px;
}
