.connect-container .content .area { background-image: url(../cliente/page-noscript.jpg); }
.connect-container .connect-seo-index p { 
	text-indent:-9999px;
}
.logo-space { 
	background-image: url( ../cliente/logo.png);
} 
