.connect-container .content .area { background-image: url(../cliente/page-noscript.jpg); }
.connect-container .connect-seo-index p { 
	font-size: 15px;
	font-family: "Arial";
	color: #373738;
	padding: 310px 0 0 0px;
	width: 290px;
	height: 140px;
	line-height: normal;
	opacity:.8;
}
.logo-space { 
	background-image: url( ../cliente/logo.png);
} 
