*{
	margin:0;
	border:none;
	outline:none;
	background-repeat:no-repeat;
	font: 17px gill_sans_stdregular;
	color: #2f2f2f;
}
#container *{background-repeat:no-repeat;}
img{display:block;}
@font-face{   font-family:'gill_sans_stdregular';     src:url('../fonts/gillsansstd-webfont.eot');     src:url('../fonts/gillsansstd-webfont.eot?#iefix') format('embedded-opentype'),        url('../fonts/gillsansstd-webfont.woff') format('woff'),        url('../fonts/gillsansstd-webfont.ttf') format('truetype'),        url('../fonts/gillsansstd-webfont.svg#gill_sans_stdregular') format('svg');     font-weight:normal;     font-style:normal}
@font-face{   font-family:'gill_sans_std_lightregular';     src:url('../fonts/gillsansstd-light-webfont.eot');     src:url('../fonts/gillsansstd-light-webfont.eot?#iefix') format('embedded-opentype'),        url('../fonts/gillsansstd-light-webfont.woff') format('woff'),        url('../fonts/gillsansstd-light-webfont.ttf') format('truetype'),        url('../fonts/gillsansstd-light-webfont.svg#gill_sans_std_lightregular') format('svg');     font-weight:normal;     font-style:normal}
